* {
    box-sizing: border-box;
    
}















@media only screen and(min-width: 600px)  {

form{
    width: 600px;
    display: grid;
    grid-template-columns:100px 100px 1fr;
    position: relative;
  }
label{
  display: block;
  margin: 0;
  text-align: left;
  width: 100%;
}
}
@media only screen and(max-width: 600px){
form {
  display: inline;
  position: relative;
  width: 100%;
  
}
label{
  display: block;
  margin: 0;
  text-align: left;
  width: 100%;
}
input, select, textarea{
  grid-column: span 1 3;
  width: 100%;
}
}

.card {
  padding          : 10pt;
    height           : auto;
    width            : 320px;
    background-color : white;
    border-radius    : 10pt;
    box-shadow       : 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
    }
  .card_banner{
    display: flex;
  flex-wrap: wrap;
  }
  
  #desert {
      border           : 1px solid black;
      width            : auto;
      height           : 196px;
      text-align       : center;
      margin-left      : 5px;
      margin-right     : auto;
      border-radius    : 10px;
      }  
   p{
    padding: 16px;
  }
  #title
    {
      padding          : 16px;
      font-size        : 22px;
      font-family      : Georgia, 'Times New Roman', Times, serif;
      color            : #000;
     
     
      }  

h2{  padding          : 16px;
    font-size        : 11px;
    font-family      : Georgia, 'Times New Roman', Times, serif;
    color            : #232f34;
    margin-left: 90px;
  }

  #facepic {
    text-align       : left;
    width            : 40px;
    height: auto;
    margin:            auto;
    border-radius    : 25px;  
  }

  

  
